body,h1,h2,h3,h4,h5,h6.p{
    margin: 0px;
    padding: 0px;
}
.team-member{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: #dff6f0;
}
.me {
    width: 100%;
    height: 70vh;
}
.me img{
    width: 30%;
    height: 60%;
    border-radius: 50%;
    margin: auto;
    display: block;
    padding: 5px;
}
.details{
    text-align: center;
    font-size: 3vh ;
    margin-top: 5px;
}
.about{
    height: 50%;
    width: 50%;
    font-size: 2vh;
}


.img{
    border: 2px solid black;
}

.img .member1 img{
   width: 50%;
   height: 60vh;
   float: left;
}
.img .member2 img{
    width: 50%;
    height: 60vh;
    float: right;
}




.hobby{
    width: 100%;
    height: 100vh;
    background-color: darkgrey;
    font-size: 2vh;
}
.hobby h1{
    text-align: center;
    font-weight: bold;
    color: rgba(146, 5, 5, 0.685);
}
.list {
    font-size: 2.5vh;
}
.par {
    padding: 5px;
    font-size: 2vh;
}
.hobby img{
    height: 80vh;
    width: 100%;
}

.main {
    text-align: right;
    padding: 5px;
    font-size: 2vh;
    margin-right: 5px;
}